{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "rules": {
    "no-redeclare": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "no-prototype-builtins": "off",
    "no-useless-catch": "off"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
