*

client/*
!client/package*.json
!client/tsconfig.json
!client/.npmrc
!client/src
!client/webpack.*.js
!client/jest.config.json
!client/setupTests.ts
!client/.eslintrc

server/*
!server/package*.json
!server/tsconfig.json
!server/.npmrc
!server/src
!server/migrations
!server/email-templates
!server/entrypoint.sh
!server/migration.config.js
!server/jest.config.json
!server/.eslintrc

!interfaces
