link(rel="stylesheet" href="/unfinished-submission/style.css")

p Vastauksesi kyselyyn "#{surveyTitle}" on tallennettu keskeneräisenä.

p Voit jatkaa vastaamista kyselyn ollessa auki avaamalla seuraavan linkin:

p
  a(href=`${url}`) #{url}

p.footer Tämä on automaattisesti luotu viesti. Älä vastaa tähän viestiin.
