{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "rules": {
    "no-redeclare": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-prototype-builtins": "off",
    "no-useless-catch": "off"
  }
}
