:root {
  --primary-main: #135b9a;
}

.tiptap {
  padding: 0.5rem;
  &.ProseMirror-focused {
    outline: none;
  }
  p {
    margin: 0.75rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.18;
  }
  h2 {
    color: var(--primary-main);
    font-size: 1.125rem;
    font-weight: 700;
  }
  &.image-caption {
    margin: 0;
  }
}
